body{
    background-color: #B1D4E0;
}

#jogo{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 530px;
    margin-top: 100px;
}

.linha{
    border-bottom: solid 1px black;
    border-color: rgb(0, 0, 0);
    width: 304px;
    height: 99px;
}

.quadrado{
    width: 100px;
    height: 100%;
    border-right: solid 1px black;
    border-color: rgb(0, 0, 0);
    float: left;
    background-repeat: no-repeat;
    background-position: 20px;
}

#quadrado3{
    border-right: none;
}

#quadrado6{
    border-right: none;
}

#quadrado9{
    border-right: none;
}

#ultima{
    border-bottom: none;
}

#fim{
    position: absolute;
    background-color: #6e96bb;
    width: 300px;
    height: 300px;
    margin-top: -300px;
    border: solid 1px black;
    
}

input{
    color: rgba(0, 0, 0, 0.575);
    background-color: #6e96bb;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 60px;
    border: solid 1px black;
    font-size: 12pt;
}

h2{
    color: black;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0px;
    font-size: 15pt;
}

#cabecalho{
   
    position: absolute;
    margin-left: 480px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #B1D4E0;
    border: solid 1px black;
    width: 400px;
    height: 500px;
    text-align: center;
    
}